body {
    background-color: #ddaf64;
    color: white;
}
a {
    color: white;
    text-decoration: none;
    }
    #aa1 {
        font-size: 24px; 
    }
    .body {
        font-size: 20px;
    }   
    .date {
        font-size: 20px;
    }